{% extends 'general_template.html' %}

{% block content %}

The name of one of my uncles is Ulises. He, when was working in Toshiba, had easiness to acquier computing equipment.
Being a good uncle he teached me about the basics that a child needs to learn about computers and even the first
personal computer I had to my dispposal was thanks to him.<br><br>
During the high school I did a technical career on Computing and when I was accepted in the Sciences Department  of the
UNAM, one of the first subjects I took was Computing. Our professors teached us about C, LaTeX and GNU/Linux,
particulary they helped us to use GNU/Linux Ubuntu. It captured my attention, at the begin, I must confess, because it
was free of charge. Being free I would not have to be around worried about the licenses of MS Windows. Later, I learned
about its other and even bigger advantages like the virtually nonexistence of virus, its stability, the freedom,
security and that it is friendly with the scientific computing.<br>
I used Ubuntu for about a year and I explored until I found that GNU/Linux Debian promised not to have some of the
errors Ubuntu had. Even when I was a bit scared about the comments the people made over this system, that it was not
friendly and even it was a little rude, I decided to install it.<br><br>
Since I installed Debian and even before I was forced to make some googling for each time I had an issue, of course, not
before of commit a number of errors that tends to infinity. Over time I gathered information that obviously did not make
me an expert but allowed me to have some useful bases.<br>
The transition from Windows to GNU/Linux was not trivial and much less from Ubunt to Debian. Certainly it wasn't like do
a Nobel Prize winning job but it was a hard one because of the invested time on googling and in understand.<br><br>
My other but principal passion is astronomy. During the high school I took an elective subject. On it I was able to use
a reflector telescope with a Dobson mounting. Later, I got into the Science Department to study physics and
astrophysics. During my time in the carreer I have done popularization of astronomy in Nibiru, an Astronomical Sociecty
of Popularization of Science and I have worked a bit on research. Now I'm coauthor in some refereed papers. Besides I
have attended to summer schools and have been instructor in seven editions of an observational astronomy school. I try
to make some astrophotography not just on the working sessions I do in the National Astronomic Observatory of
Tonantzintla, Puebla. This is of the stuff I have enjoyed the most, being in the observatory at Puebla and in the one at
San Pedro Martir, Baja California.<br><br> Throughtout all this time I made some stuff that are more useful being public
that stored in my computer. This is part of the reason of the existence of this webpage.<br><br>
In this website two of my biggest pleasures join together. Astronomy and computing. Its name from there: AstroBits.
<br><br>
I really hope you enjoy it.<br><br>









<div align='right'> César Villarreal </div>
{% endblock %}

