{% extends 'general_template.html' %}

{% block content %}
<center><img src="http://cvillarreal.xyz/astrobits/astro/images/dome.jpg" width="25%" style="border-radius:5px;box-shadow: 3px 3px 5px #555"/></center>
<br>
Here you will find some of the stuff on what I have been working related to Astronomy and some other useful stuff.

<br><br><br>

My list of publications
<ol>
	<li> <a href="http://cdsads.u-strasbg.fr/abs/2015RMxAA..51...51P">
	Binary nature of the HADS stars AN Lyn & BE Lyn<br>
	2015, RMxAA<br>
	Peña, J. H.; Rentería, A.; Villarreal, C.; et al.</a>
	<li> <a href="http://cdsads.u-strasbg.fr/abs/2015IBVS.6154....1P">
	OAN-TNT Results of Observations - Photoelectric Minima of Selected Eclipsing Binaries and Maxima of Pulsating Stars<br>
	2015, IBVS<br>
	Peña, J. H.; Renteria, A.; Villarreal, C.; et al.</a>
	<li> <a href="http://cdsads.u-strasbg.fr/abs/2016RMxAA..52..385P">
	A Study of BO Lyn, a neglected HADS star<br>
	2016, RMxAA<br>
	Peña, J. H.; Villarreal, C.; et al.</a>
	<li> <a href="http://cdsads.u-strasbg.fr/abs/2016IBVS.6186....1P">
	Pulsational stability of the SX Phe star AE UMa<br>
	2016, IBVS<br>
	Peña, J. H.; Renteria, A.; Villarreal, C.; et al.</a>
	<li> <a href="http://cdsads.u-strasbg.fr/abs/2017IBVS.6220....1P">
	OAN-TNT Results of Observations - Photoelectric Maxima of Pulsating Stars<br>
	2017, IBVS<br>
	Peña, J. H.; Renteria, A.; Piña, D. S.; Villarreal, C.; et al.</a>
	<li> <a href="http://cdsads.u-strasbg.fr/abs/2017RMxAA..53..309P">
	Physical properties and membership in the open cluster NGC 6633 through uvby-β photoelectric photometry<br>
	2017, RMxAA<br>
	Peña, J. H.; Robleto-Orús, A.; Piña, D. S.; Rentería, A.; Villarreal, C.; et al.</a>
	<li> <a href="http://adsabs.harvard.edu/abs/2017IBVS.6231....1P">
	Secular Variation and Physical Characteristics Determination of the HADS Star EH Lib<br>
	2017, IBVS<br>
	Peña, J. H.; Villarreal, C.; et al.</a>
	<li> <a href="http://adsabs.harvard.edu/abs/2018RMxAA..54...85P">
	A Study of the Long Term Behavior of the SX Phe Star KZ Hya<br>2018, RMxAA<br>
	Peña, J. H.; Piña, D. S.; Rentería, A.; Villarreal, C.; et al.</a>
</ol>

<br>

<a href="http://cvillarreal.xyz/astrobits/astro/files/astroimagej_linux.tar.gz">Astroimagej for GNU/Linux</a> |
<a href="http://cvillarreal.xyz/astrobits/astro/files/astroimagej_win.zip">Astroimagej for Windows</a> |
<a href="http://cvillarreal.xyz/astrobits/astro/files/install.pdf">Installation manual for Astroimagej (spanish)</a>


{% endblock %}
