{% extends 'general_template.html' %}
{% load static %}



{% block content %}
<link href="{% static 'css/bokeh-1.0.4.min.css %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bokeh-widgets-1.0.4.min.css %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/bokeh-2.2.3.min.js' %}"></script>
<script src="{% static 'js/bokeh-widgets-2.2.3.min.js' %}"></script>

{{ script | safe }}

{{ div | safe }}

{% for driver in drivers %}
	{{ driver.driverid }} {{ driver.forename }} {{ driver.surname }}
	<br>
{% endfor %}



{% endblock %}

