{% extends 'general_template.html' %}

{% block content %}

Here you find some pictures I have taken on trips or astronomic observation campaigns.

<br>
<br>
<br>

<table border="1" style="text-align: center;">
	<tr>
	{% for picture in pictures %}
		<td><img src="http://{{ picture.picture_url }}"  width="30%"/><br><br>{{ picture.picture_description }}</td>
		{% if forloop.last %}
			</tr>
		{% else %}
			{% if forloop.counter|divisibleby:"3" %}
				</tr>
				<tr>
			{% endif %}
		{% endif %}
	{% endfor %}
</table>


{% endblock %}
